.pageContainer {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 10% 10% 40% 30%;
  background-color: #19becb;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h1 {
  grid-row: 1;
  grid-column: 2;
  height: auto;
  width: auto;
  color: white;
}

h2 {
  grid-row: 2;
  grid-column: 2;
  height: auto;
  width: auto;
  color: white;
}

.gridContainer {
  grid-row: 4;
  grid-column: 2;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 40% 30%;
  height: 40vh;
  width: auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(145deg, #17abb7, #1bcbd9);
  box-shadow: 26px 26px 55px #0b555b, -26px -26px 55px #27ffff;
}

.btnAdd {
  grid-column: 2;
  grid-row: 1;
}

p {
  font-size: xx-large;
  grid-column: 2;
  grid-row: 2;
  color: white;
}

.btnRemove {
  grid-column: 2;
  grid-row: 3;
}

[class*="btn"] {
  height: 2.5rem;
  width: fit-content;
  background: #cb2619;
  box-shadow: #cb25198c 3px 2px 10px 1px;
  color: white;
  border: none;
  border-radius: 0.6rem;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: #cb2619;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -25%;
  right: -25%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
